.app-container {
  background: #4e5766;
  min-height: 100vh;
  padding: 2rem;
  font-family: system-ui, sans-serif;
  color: #eff0f1;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1%;
  color: #469be5;
}

.card,
.question-card,
.results-card {
  background: #1d3357;
  padding: 2rem;
  border-radius: 12px;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
