.app-container {
  background: #01404f;
  min-height: 100vh;
  padding: 2rem;
  font-family: system-ui, sans-serif;
  color: #eff0f1;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1%;
  color: #329198;
}

.card,
.question-card,
.results-card {
  background: #77abb1;
  padding: 2rem;
  border-radius: 12px;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(6, 195, 216, 0.564);
}

button,
.answer-btn {
  background: #04586d;
  color: white;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.2s ease;
  width: 100%;
  margin-bottom: 0.75rem;
}
button:hover,
.answer-btn:hover {
  background: #3e8f94;
}
